.card { border-radius: 1.2rem; }
.form-control { border-radius: 0.7rem; }
.btn-lg { border-radius: 0.8rem; }
.form-control:focus { border-color: #0d6efd; }

.animate-shakeX { animation: shakeX 0.5s; }
@keyframes shakeX {
  0%, 100% {transform: translateX(0);}
  20%, 60% {transform: translateX(-10px);}
  40%, 80% {transform: translateX(10px);}
}
